<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/yonaka@1.1/dist/yonaka.min.css">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>AutoWPP</h1>
    </header>

    <main>
        <section>
            <form method="POST" enctype="multipart/form-data">
                <label for="phone-list">
                    Files
                    <input type="file" name="phone-list" id="phone-list" required>
                </label>
                <button type="submit">Submit</button>
            </form>
        </section>
    </main>

    <footer></footer>
</body>
</html>