<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/yonaka@1.1/dist/yonaka.min.css">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>AutoWPP</h1>
    </header>

    <main>
        <section>
            <form method="POST">
                <label for="phone_number">Enter Phone Number:</label>
                <input type="tel" name="phone_number" id="phone_number" placeholder="phone number goes here..." required>
                <button type="submit">Submit</button>
            </form>
        </section>
    </main>

    <footer></footer>
</body>
</html>